.footer-links #accordion-text {
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 20px;
    font-size: 10pt;
    text-align: justify;
    padding: 0 20px;
    line-height: 1.5;
    max-height: 40vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
    color: white;
}

.footer-links #accordion-text::-webkit-scrollbar {
    display: none;
}

.accordion, .accordion-trigger {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    margin: 0;
    color: white;
    padding: 5px 0;
    font-size: 8pt;
    transition: transform 0.3s ease-in;
}

.accordion-trigger button {
    margin: 0;
    padding: 0;
}

.accordion.active, .accordion-trigger.active {
    text-shadow: 0 0 10px orange, 0 0 20px red, 0 0 30px yellow;
}

.accordion:hover, .accordion-trigger:hover {
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
}

#accordicon {
    width: 50px;
    height: 50px;
    margin: 5px auto; 
    padding: 1px;

    transition: transform 0.3s ease, filter 0.3s ease;
}

#accordicon:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue;
}