@media (min-width: 768px) and (max-width: 1024px) {

    /* secion-1 */
    p {
        font-size: 10pt;
    }
    .section-1 {
        height: auto;
        padding: 50px;
    }
    .section-1 {
        background: linear-gradient(to top, var(--color-quaternary) 0%, var(--color-primary) 40%, transparent 70%);
        background-blend-mode: overlay;
        overflow: hidden;
    }
    .header-video {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    .brand h1 {
        font-size: 60pt;
    }
    .brand h2 {
        font-size: 30pt;
    }
    .brand button {
        width: 60%;
        margin-top: 20px;

    }
    .signup {
        padding-top: 20px;
    }
    .signup a {
        font-size: 20pt;
        letter-spacing: 2px;
    }
    .social-ico img {
        width: 35px;
        height: 35px;
        margin: 5px 0;
    }
    .contact, .email-info {
        font-size: 10pt;
    }
    .contact {
        width: 85%;
    }
    .email-info {
        width: 85%;
        margin-left: auto;
    }
    /* section-2 */
    .section-2 {
        padding: 50px;
        height: auto;
    }
    
    .linksection {
        flex: 3 7;
    }
        
    .links h3 {
        font-size: 30pt; 
    }
    .links p {
        font-size: 14pt;
        width: 120%;
    }
    /* section-3 */
    .section-3 {
        padding: 50px;
    }
    .footer-video {
        width: 60%;
        height: 100%;
    }
    .brand-footer {
        margin-left: auto;
        padding: 0;
    }
    .brand-footer h1 {
        font-size: 30pt;
    }
    .brand-footer p {
        font-size: 9pt;
        padding-right: 0;
    }
    
    .background-video {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130vh;
        object-fit: cover;
        z-index: -1;
    }
    .accordion-trigger {
        display: none;
    }
}